<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Title -->
  <a class="navbar-brand text-white" uiSref="dash">StabHut.io</a>
  <!-- Navs -->
  <ul class="navbar-nav ml-auto">
    <!-- Sign In -->
    <li class="nav-item dropdown" *ngIf="!user">
      <a class="nav-link" uiSref="sign-in">Sign In</a>
    </li>
    <!-- Sign Up -->
    <li class="nav-item dropdown" *ngIf="!user">
      <a class="nav-link" uiSref="sign-up">Sign Up</a>
    </li>
    <!-- User -->
    <li class="nav-item dropdown" *ngIf="user">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }}</a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- Sign out -->
        <a class="dropdown-item" (click)="authService.signOut()">Sign Out</a>
      </div>
    </li>
  </ul>
</nav>

<!-- Routes -->
<ui-view></ui-view>
