<div class="container py-5">

  <!-- Organization -->
  <div class="row justify-content-center" *ngIf="organization">
    <div class="col-lg-8 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <b>{{ organization.name }}</b> created by <b>{{ organization.user.username }}</b>
          <a [routerLink]="['../../../', organization.id]" class="float-right">
            <fa-icon icon="arrow-circle-right"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Panels -->
  <div class="row justify-content-center" *ngIf="projects">

    <!-- Projects -->
    <div class="col-lg-3 my-3">
      <div class="card">
        <!-- Header -->
        <div class="card-header">Projects</div>
        <!-- Projects -->
        <ul class="list-group list-group-flush pointer" *ngIf="projects">
          <li class="list-group-item"
              *ngFor="let project of projects"
              (click)="projectSelected = project; labelSelected = null;"
              [class.active]="projectSelected === project">
            {{ project.name }}
          </li>
        </ul>
        <!-- New project -->
        <div class="card-body">
          <app-form-add name="project" [margin]="false" (save)="addProject($event)"></app-form-add>
        </div>
      </div>
      <!-- Labels -->
      <div class="card mt-3">
        <!-- Header -->
        <div class="card-header">Labels</div>
        <!-- Labels -->
        <ul class="list-group list-group-flush pointer" *ngIf="labels">
          <li class="list-group-item"
              *ngFor="let label of labels"
              (click)="labelSelected = label; projectSelected = null;"
              [class.active]="labelSelected=== label">
            {{ label.name }}
          </li>
        </ul>
        <!-- New label -->
        <div class="card-body">
          <app-form-add name="label" [margin]="false" (save)="addLabel($event)"></app-form-add>
        </div>
      </div>
    </div>
    <!-- Selected project settings and columns -->
    <div class="col-lg-5 my-3">
      <div class="card" *ngIf="projectSelected || labelSelected">
        <!-- Header -->
        <div class="card-header">
          <!-- Project name -->
          <div class="mb-3" *ngIf="projectSelected">{{ projectSelected.name }}</div>
          <div *ngIf="labelSelected">{{ labelSelected.name }}</div>
          <!-- Tabs -->
          <ul class="nav nav-tabs card-header-tabs" *ngIf="projectSelected">
            <li class="nav-item">
              <div class="nav-link pointer" [class.active]="projectTab === 'columns'" (click)="projectTab = 'columns'">
                Columns
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link pointer" [class.active]="projectTab === 'options'" (click)="projectTab = 'options'">
                Options
              </div>
            </li>
          </ul>
        </div>
        <!-- Selected project columns -->
        <div class="card-body" *ngIf="projectTab === 'columns' && projectSelected && projectSelected.columns">
          <!-- Columns -->
          <div class="form-group input-group" *ngFor="let column of projectSelected.columns">
            <input type="text" class="form-control" [(ngModel)]="column.name">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="deleteColumn(column)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
          <!-- New column -->
          <app-form-add name="column"
                        [margin]="projectSelected.columns.length > 0"
                        (save)="addColumn($event)"></app-form-add>
          <!-- Update button -->
          <button class="btn btn-block btn-primary" (click)="updateColumns()" *ngIf="projectSelected.columns.length">
            Update
          </button>
        </div>
        <!-- Selected project options -->
        <div class="card-body" *ngIf="projectTab === 'options' && projectSelected"></div>
        <!-- Selected label options -->
        <div class="card-body" *ngIf="labelSelected">
          <!-- Labels -->
          <div class="form-group input-group">
            <input type="text" class="form-control" [(ngModel)]="labelSelected.name">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="deleteLabel(labelSelected)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
          <!-- Update button -->
          <button class="btn btn-primary btn-block" (click)="updateLabel(labelSelected)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
