@import "src/styles.scss";

$card-drag-placeholder-opacity: 0.5;

.column {
  p {
    text-transform: uppercase;

    fa-icon {
      cursor: pointer;
    }

    &:not(:hover) fa-icon {
      opacity: 0.25;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  min-width: 300px;
  max-width: 300px;
  margin-left: map-get($spacers, 3);

  .cards {
    height: 100%;
    padding-right: 5px;
  }

  &:last-of-type {
    margin-right: map-get($spacers, 3);
  }
}

.side {
  position: absolute;
  top: 0;
  right: 0;
  border-top: none;
  border-radius: 0;
  width: 400px;
  transform: translateX(100%);
  transition: $modal-transition;

  .card-body {
    overflow-y: auto;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: $card-drag-placeholder-opacity;
}

.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
