<div class="card border-0">

  <!-- Projects and settings -->
  <div class="card-header px-5 pt-5">
    <ul class="nav nav-tabs card-header-tabs">
      <!-- Projects -->
      <li class="nav-item" *ngFor="let project of projects">
        <a class="nav-link" [routerLink]="['.']" [queryParams]="{project: project.id}"
           [ngClass]="{'active font-weight-bold': projectSelected === project}">
          {{ project.name }}
        </a>
      </li>
      <!-- Settings -->
      <li class="nav-item ml-auto">
        <a class="nav-link text-secondary" [routerLink]="['../', 'settings']">
          <fa-icon icon="cog"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <!-- Project detail -->
  <div class="card-body container-fluid" *ngIf="projectSelected">
    <div class="row">

      <!-- Columns -->
      <div class="col-lg-10">
        <div class="row">
          <div class="col column" *ngFor="let column of projectSelected.columns">

            <!-- Column header -->
            <p class="text-center font-weight-bold text-secondary">

              <!-- Title -->
              {{ column.name }}

              <!-- Add icon -->
              <fa-icon class="float-right px-2" icon="plus" (click)="addCard(column)"></fa-icon>
            </p>

            <!-- Cards -->
            <div class="card mt-2" *ngFor="let card of column.cards">
              <div class="card-body">

                <!-- Content -->
                <a class="text-dark d-block" [routerLink]="['./card', card.id]">{{ card.content }}</a>

                <!-- Assignee -->
                <span class="badge badge-primary font-weight-light mr-1" title="Assignee" *ngIf="card.assignee">
                  {{ getUser(card.assignee).username }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Side -->
      <div class="col">
        <div class="card side">
          <!-- Side tabs -->
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" (click)="sidePanelTab = 'chats'" [ngClass]="{active: sidePanelTab == 'chats'}">
                  Chat
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="sidePanelTab = 'tasks'" [ngClass]="{active: sidePanelTab == 'tasks'}">
                  Tasks
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body p-3">
            <!-- Chats -->
            <div *ngIf="sidePanelTab == 'chats'">
              <p *ngFor="let chat of projectSelected.chats" title="{{ chat.created | date:'MMM dd, HH:MM a' }}"
                 class="mb-2">
                <b>{{ getUser(chat.user).username }}</b>: {{ chat.content }}
              </p>
            </div>
            <!-- Tasks -->
            <div *ngIf="sidePanelTab == 'tasks'">
              <div *ngFor="let task of projectSelected.tasks" [ngClass]="{'text-secondary': task.checked}"
                   class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="task-{{ task.id }}"
                       [(ngModel)]="task.checked" (ngModelChange)="taskToggle(task)">
                <label class="custom-control-label" for="task-{{ task.id }}">{{ task.content }}</label>
              </div>
            </div>
          </div>
          <!-- Input -->
          <div class="card-footer p-3">
            <form (ngSubmit)="sidePanelSubmit()">
              <input type="text" class="form-control" placeholder="Add to {{ sidePanelTab }}"
                     [(ngModel)]="sidePanelInput" name="sidePanelInput" autocomplete="off" required>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
