.column {

  p {
    text-transform: uppercase;

    fa-icon {
      cursor: pointer;
    }

    &:not(:hover) fa-icon {
      opacity: 0.25;
    }
  }
}

.side {

  .card-body {
    max-height: 400px;
    overflow-y: auto;
  }
}
