<div class="card border-0">

  <!-- Project selection -->
  <div class="card-header px-5 pt-5">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" (click)="projectSelected = null"
           [ngClass]="{'active font-weight-bold': !projectSelected}">
          All
        </a>
      </li>
      <li class="nav-item" *ngFor="let item of projects">
        <a class="nav-link" (click)="projectSelected = item"
           [ngClass]="{'active font-weight-bold': item == projectSelected}">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Project detail -->
  <div class="card-body container-fluid" *ngIf="projectSelected">
    <div class="row">

      <!-- Columns -->
      <div class="col-lg-10">
        <div class="row">
          <div class="col column" *ngFor="let column of projectSelected.columns">

            <!-- Column title -->
            <p class="text-center font-weight-bold text-secondary">{{ column.name | uppercase }}</p>

            <!-- Add card button -->
            <button class="btn btn-block btn-light text-secondary rounded-0" (click)="addCard(column)">
              <small class="text-uppercase">Add Card</small>
            </button>

            <!-- Cards -->
            <div class="card mt-2" *ngFor="let card of column.cards">
              <div class="card-body">
                <div class="card-text">{{ card.content }}</div>
                <span class="badge badge-primary font-weight-light mr-1" title="Assignee" *ngIf="card.assignee">
                  {{ getUser(card.assignee).username }}
                </span>
                <span class="badge badge-secondary font-weight-light mr-1" *ngFor="let label of card.labels">
                  {{ label.title }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Side -->
      <div class="col">
        <div class="card side">
          <!-- Side tabs -->
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" (click)="sidePanelTab = 'chats'" [ngClass]="{active: sidePanelTab == 'chats'}">
                  Chat
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="sidePanelTab = 'tasks'" [ngClass]="{active: sidePanelTab == 'tasks'}">
                  Tasks
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body p-3">
            <!-- Chats -->
            <div *ngIf="sidePanelTab == 'chats'">
              <p *ngFor="let chat of chats" title="{{ chat.date | date:'MMM dd, HH:MM a' }}" class="mb-2">
                <b>{{ chat.user.username }}</b>: {{ chat.content }}
              </p>
            </div>
            <!-- Tasks -->
            <div *ngIf="sidePanelTab == 'tasks'">
              <div class="custom-control custom-checkbox" *ngFor="let task of tasks; let i = index"
                   [ngClass]="{'text-secondary': task.check}">
                <input type="checkbox" class="custom-control-input" id="task-{{ i }}">
                <label class="custom-control-label" for="task-{{ i }}">{{ task.content }}</label>
              </div>
            </div>
          </div>
          <!-- Input -->
          <div class="card-footer p-3">
            <input type="text" class="form-control" placeholder="Add to {{ sidePanelTab }}" required>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
