@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

$font-family-base: "Roboto";

$card-border-radius: none;

$btn-border-radius: 100px;

@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

a, .btn {
  cursor: pointer;
}

.column {
  .card-body {
    font-size: 0.9rem;
    padding: 15px;
  }
}
