@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

$font-family-base: Roboto, sans-serif;

$card-border-radius: none;

$btn-border-radius: 100px;

$nav-tabs-border-radius: 0;

$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

a, .btn {
  cursor: pointer;
}

body {
  word-wrap: break-word;
  min-width: 768px;
}
