@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap");

$primary: #0097e6;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$font-family-base: "Maven Pro", sans-serif;
$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

a,
.btn,
.list-group-item-action {
  cursor: pointer;
}

body {
  word-wrap: break-word;
  min-width: 768px;
}

.pointer {
  cursor: pointer;
}
